//CORES
$blue-primario: #3E50B4; 
$blue-secundario:#303685;
$blue-terciario:#3B7AFF;
$pink: #FF0058;
$green: #0fe3d6;
$gray: #494B4B;
$light-gray: #BEBEBE;
$lighter-gray:#D4D4D4;
$medium-gray: rgba(238,238,238,0.6);
$lighter-gray-nav:#FAFAFA;
$white: #FFF;
$black:#000;

$cor-primaria: $blue-primario; 
$cor-secundaria:$pink; 
$cor-terciaria: $green; 

//Nav
$cor-nav:$lighter-gray-nav;
//Calendário
$calendario:$light-gray; //Grid calendário
//Texto
$cor-titulo:$black; //Títulos
$cor-subtitulo:$gray; //Subtítulos 
$cor-text-card:$white; //cards
//Cards
$card: $blue-primario; //Cards atividades contratadas (modo de visualização lista)
$card-calendario: $blue-secundario; //Cards atividades contratadas (modo de visualização calendário)
$card-adicionado: $blue-terciario;  //Card atividade adicionada na lista de atividades a serem contratadas
$card-substituir: $light-gray; //Card atividade com choque de horário na lista de atividades a serem contratadas
//Botões
$btn-primario: $pink; //Botões CTA
$btn-secundario: $blue-secundario; //Botões "Voltar"
$btn-text:$white; // Texto botões
//Rodapé
$footer:$lighter-gray; //Fundo rodapé
$cor-texto-rodape: $black; //Texto rodapé


//FONTES
$font-padrao: 'Roboto', sans-serif;
$font-rodape: "Barlow", sans-serif;

//TAMANHOS
$font-size-padrao: 16px;

$font-size-destaque: 2rem; 
$font-size-titulo: 1.625rem; 
$font-size-subtitulo: 1.125rem; 
$font-size-secundario: 1.50rem; 
$font-size-terciario:0.75rem;
$font-size-medium: 1.25rem;
$font-size-small:0.50rem;
$font-size-texto: 1rem; 
$font-size-footer: 1.125rem; 

//Grid
$grid-gutter: 4px;
$grid-columns: 6;
$grid-max: 500px;

//BREAKPOINTS
$mobile-small:320px;
$mobile: 420px;
$tablet-ver: 768px;
$tablet-hor: 1024px;
$desktop: 1440px;
$desktop-large:2560px;
