@import "../../styles/extends";
@import "../../styles/variables";
@import "../../styles/mixins";

.mapPage {
  max-width: 100vw;
  width: 100%;
  .mapPage-body--container {
    @include flex(left, space-between, row);
    margin-left: 50px;
    margin-bottom: 100px;
    position: relative;

    .mapPage-map--container {
      width: 50%;

      .leaflet-container {
        width: 100%;
      }
    }

    .mapPage-data--container {
      width: 50%;
      max-width: 500px;
      text-align: left;
    }
  }

  .mapPage-footer--container {
  }
}
