@import "../../styles/extends";
@import "../../styles/variables";
@import "../../styles/mixins";

ul {
  list-style: none;
}

.forumPage {
  margin: 0 4%;
  font-family: $font-padrao;
  max-width: 100vw;
  width: 90%;

  .forumPage--intro {
    @include flex(baseline, space-between, row);

    .forumPage--title {
      text-align: left;

      h1 {
        font-size: $font-size-medium;
        color: $cor-secundaria;
        font-weight: bold;
        margin-bottom: 0;
      }

      h3 {
        font-size: 0.885rem;
        color: $gray-text;
        font-weight: lighter;
        margin-top: 10px;
      }
    }

    button {
      outline: none;
      border: 1px solid $cor-secundaria;
      color: $cor-secundaria;
      border-radius: 100px;
      padding: 10px;
      background-color: transparent;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        color: $white;
        background-color: $cor-secundaria;
      }
    }
  }

  .forumPage--main {
    @include flex(top, space-between, row);
    margin-top: 20px;

    .forumPage--main-indice {
      ul {
        text-align: left;
        padding-left: 0;
        width: 160px;

        li {
          font-size: 0.885rem;
          color: $gray-text;
          font-weight: bold;
          margin-top: 10px;
          cursor: pointer;
          padding: 5px 0;
          padding-left: 5px;

          &:hover {
            background: rgba(255, 0, 88, 0.1);
            color: $cor-secundaria;
            border-radius: 100px;
          }
        }

        #selected--listItem {
          color: $cor-secundaria;
          border-radius: 100px;
        }

        li:first-child {
          font-size: $font-size-padrao;
          border-bottom: 1px solid $light-gray;
          padding-bottom: 8px;
          cursor: default;
          margin-top: 0;
          box-shadow: 0 0.125rem 0.1rem rgba(0, 0, 0, 0.04);

          &:hover {
            background: transparent;
            color: $gray-text;
            border-radius: 0;
          }
        }
      }
    }

    .forumPage--main-content {
      .forumPage--list {
        @include flex(top, space-between, row);
        border-bottom: 1px solid $light-gray;
        box-shadow: 0 0.125rem 0.1rem rgba(0, 0, 0, 0.04);
        padding-left: 0;
        width: 90%;
        margin-left: auto;

        li {
          cursor: default;
          padding: 5px 0 8px 30px;
          color: $gray-text;
          font-size: $font-size-padrao;
          font-weight: bold;
        }

        .forumPage--main-contentList {
          @include flex(top, space-between, row);
          width: 45%;

          li:last-child {
            padding-right: 80px;
          }
        }
      }

      .forumPage--content-discussion {
        @include flex(center, space-between, row);
        width: 90%;
        padding-left: 0;
        margin-right: 30px;
        margin-left: 100px;
        margin-top: 20px;

        border-bottom: 0.1px solid $lighter-gray;
        padding-bottom: 20px;

        .forumPage--discussion-topic {
          @include flex(center, center, row);
          width: 90%;

          img {
            border-radius: 50%;
            margin-right: 20px;
            width: 80px;
            height: 78px;
            cursor: pointer;
          }

          .forumPage--topic-description {
            width: 70%;
            text-align: left;
            margin-left: 0;

            h3 {
              font-size: $font-size-padrao;
              color: $gray-text;
              font-weight: bold;
              margin-top: 0;
            }

            p {
              text-align: justify;
              font-size: 0.885rem;
              font-weight: lighter;
              color: $gray-text;
            }

            h4 {
              text-align: justify;
              font-size: $font-size-terciario;
              font-weight: lighter;
              color: $gray-text;
              margin-bottom: 0;
            }
          }
        }

        .forumPage--topic-container {
          @include flex(center, space-between, row);
          width: 59.5%;
          margin-right: 30px;

          .forumPage--topic-tag {
            border: 1px solid $cor-secundaria;
            padding: 1px 10px;
            border-radius: 100px;
            text-align: center;

            h2 {
              font-size: $font-size-small;
              color: $cor-secundaria;
              font-weight: bold;
            }
          }

          .forumPage--topic-status {
            width: 45%;

            .forumPage--status-answers {
              @include flex(center, center, row);

              img {
                cursor: pointer;
              }

              h3 {
                font-size: 0.885rem;
                color: $gray-text;
                width: 110px;
                font-weight: bold;
                text-align: left;
                margin-left: 10px;
                cursor: pointer;
                margin-bottom: 2.5px;
                margin-top: 2.5px;
              }
            }

            .forumPage--status-likes {
              @include flex(center, center, row);

              img {
                cursor: pointer;
              }

              h3 {
                font-size: 0.885rem;
                color: $gray-text;
                font-weight: bold;
                width: 110px;
                text-align: left;
                margin-left: 10px;
                cursor: pointer;
                margin-bottom: 2.5px;
                margin-top: 2.5px;
              }
            }
          }
        }
      }

      .forumPage--pagination {
        margin: 0 auto;
        width: 90%;

        .paginationList {
          @include flex(center, center, row);
          margin-top: 30px;
          margin-left: 10%;

          li {
            font-size: 0.885rem;
            color: $gray-text;
            font-weight: bold;
            width: 25px;
            cursor: pointer;

            span {
              color: $cor-secundaria;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
