@import "../../styles/extends";
@import "../../styles/variables";
@import "../../styles/mixins";

.leaflet-container {
  height: 100vh;
  width: 50%;
  z-index: 1;
}

.bairros {
  z-index: 3;
}

.renda {
  z-index: 2;
}

// .mapComponent {
//   @include flex(center, center, row);
//   .map--charts {
//   }
// }
