@import '../../styles/extends'; 
@import '../../styles/variables';
@import '../../styles/mixins';

a{
    text-decoration: none;
    color:$gray-text;
}

.nav{
    width: 95%;
    margin: 0 auto;

    .nav--container{
        @include flex(center, space-between, row);
        background-color: $white;
        border-bottom: 0.1px solid $lighter-gray;
        box-shadow: 0 0.125rem 0.1rem rgba(0, 0, 0, 0.04);
        padding: 0 10px;
        padding-left: 20px;
        height: 80px;
        z-index: 1;
    
        .nav--status{
            @include flex(center, space-between, row);
            position:relative;
            width:60%;

            input{
                border: none;
                border-bottom: 0.1px solid $lighter-gray;
                width: 100%;
                height: 30px;
                margin-right: 20px;
                outline:none;
                color: $gray-text;
                font-weight: normal;
                font-family: $font-size-medium;
                font-size: 0.885rem;
            }

            .nav--statusSearch{
                position:absolute;
                right: 380px;
                width: 15px;
                height: 15px;
                opacity: 0.8;
                cursor:pointer;
            }

            .nav--statusMessage{
                border-left: 0.1px solid $lighter-gray;
                padding: 0 20px;
                height: 50px;

                img{
                    padding-top: 15px;
                    opacity: 0.8;
                    cursor:pointer;
                    width:24px;
                    height:23px;
                }

                .nav--statusMessageStatus{
                    background-color: $cor-secundaria;
                    border-radius: 50%;
                    height: 13px;
                    width: 13px;
                    position: absolute;
                    top: 10px;
                    right: 302px;
                    color: $white;
                    font-weight: bold;
                    font-size: $font-size-small;
                    text-align:center;
                }

                .nav--Messages{
                    height: 300px;
                    background-color: $black;
                }
            }

            .nav--statusNotification{
                border-left: 0.1px solid $lighter-gray;
                padding: 0 20px;
                height: 50px;

                img{
                    padding-top: 15px;
                    opacity: 0.8;
                    cursor:pointer;
                    width:23px;
                    height:23px;
                }

                .nav--statusNotificationStatus{
                    background-color: $cor-secundaria;
                    border-radius: 50%;
                    height: 13px;
                    width: 13px;
                    position: absolute;
                    top: 10px;
                    right: 242px;
                    color: $white;
                    font-weight: bold;
                    font-size: $font-size-small;
                    text-align:center;
                }

                .nav--Notifications{
                    height: 300px;
                    background-color: $cor-secundaria;
                }
            }
        }

        .nav--profile{
            @include flex(center, space-between, row);
            width:55%;
            padding: 0 20px;
            border-left: 0.1px solid $lighter-gray;

            .nav--profilePicture{
                postition: relative;

                .nav--profileStatus{
                    background-color: $green-status;
                    border-radius: 50%;
                    height: 13px;
                    width: 13px;
                    position: absolute;
                    top: 35px;
                    right: 158px;
                }
            }
            
            .nav--profileName{
                @include flex(top, center, row);
                text-align: left;

                h2{
                    font-size: $font-size-padrao;
                    font-family: $font-padrao;
                }

                img{
                    margin-left: 10px;
                    cursor:pointer;
                }
            }

            .nav--profileOpen{
                height: 300px;
                background-color: green;
            }
        }
    }
}